<div id="merge-profiles" class="merge-wrapper">
	<h1>Merge Profiles</h1>
	<form class="merge-form" method="POST" action="?target=merge_profiles&action=merge_profiles">
		<div class="merge-block">
			<label for="search-1">Merge from:</label>
			<input class="form-control" id="search-1" type="text" placeholder="Email/Order #">
			<ul id="results-1" class="search-results"></ul>
		</div>
		<div class="merge-block">
			<label for="search-2">Merge to:</label>
			<input class="form-control" id="search-2" type="text" placeholder="Email/Order #">
			<ul id="results-2" class="search-results"></ul>
		</div>

		<button class="btn btn-default merge-form-btn submit">Submit</button>
	</form>
</div>
